[submodule "lahaus"]
	path = lahaus
	url = git@git.vauxoo.com:vauxoo/lahaus.git
	branch = 19.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:Vauxoo/sale-workflow.git
	branch = 19.0
